.container {
    width: inherit;
    height: 29.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    margin-top: 3.5rem;
}

.row_container {
    display: flex;
    flex-direction: row;
    column-gap: 4rem;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    padding-right: 2rem;
    /* To keep scrollbar outside div */
    margin-bottom: -1.6rem;
}

.title {
    color: white;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 3.2rem;
    line-height: 4rem;
    letter-spacing: -0.05rem;
}