@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-size: 62.5%;
  font-family: 'Outfit', sans-serif;

}

:root {
  --red: #FC4747;
  --dark-blue: #10141E;
  --greyish-blue: 90, 105, 143;
  --semi-dark-blue: #161D2F;
  --pure-white: #FFFFFF;

}

body {
  background-color: var(--dark-blue);
}